.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 148px;
}

.section-maxw__cntnr{
    gap: 58px;
}

.section-header{
    max-inline-size: 440px;
}

.feature-cards__cntnr{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--fcard-size-clamp380), 1fr));
    gap: 16px;
    /* background: oklch(12.731% 0.02217 233.568); */
    padding: 16px;
    border-radius: 28px;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: var(--feature-card-pi-clamp16);
    /* padding-inline: 44px; */
    border-radius: 12px;
    background: #242424;
}

.fcard-illustration svg{
    block-size: auto;
    inline-size: 100%;
}

.feature-card__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.fcard__desc-title{
    font-size: 18px;
    font-weight: 500;
    color: var(--off-white);
}

.fcard__desc-brief{
    color: var(--text-sec);
    line-height: 1.3;
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}