.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 148px;
}

.section-maxw__cntnr{
    gap: 58px;
}

.section-header{
    max-inline-size: 440px;
}

.feature-cards__cntnr{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--fcard-size-clamp380), 1fr));
    gap: 16px;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: var(--feature-card-pi-clamp16);
    padding-inline: 44px;
    border-radius: 12px;
    block-size: 320px;
    background: white;
    position: relative;
}

.feature-card::after{
    box-sizing: content-box;
    position: absolute;
    content: "";
    block-size: 100%;
    inline-size: 100%;
    padding: 3px;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(95, 86, 129);
    z-index: -1;

}

.fcard-icon__wrapper{
    block-size: 44px;
    inline-size: 44px;
    background: gainsboro;
    border-radius: 4px;
}

.feature-card__illustration{
    inline-size: 100%;
    block-size: 280px;
    overflow: hidden;
    /* background: greenyellow; */
}

.feature-card__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fcard__desc-title{
    font-size: 18px;
    font-weight: 500;
}

.fcard__desc-brief{
    color: var(--text-sec);
    line-height: 1.3;
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}