.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 148px;
}

.section-maxw__cntnr{
    gap: 58px;
}

.section-header{
    max-inline-size: 440px;
}

.feature-cards__cntnr{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--fcard-size-clamp380), 1fr));
    gap: 16px;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: var(--feature-card-pi-clamp16);
    padding-inline: 44px;
    border-radius: 12px;
    block-size: 320px;
    background: oklch(98.89% 0.00593 240.388);;
    border: 1px solid gainsboro;
    position: relative;
}

.fcard-icon__wrapper{
    --size: 44px;
    block-size: var(--size);
    inline-size: var(--size);
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 4px;
}

.fcard-icon{
    --size: 36px;
    stroke: var(--accent-color);
    block-size: var(--size);
    inline-size: var(--size);
}

.fcard-icon .icon-path {
    stroke: oklch(55% 0.18 240);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* animation setup */
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 0.8s ease-out;
}

/* Triggered when card is in view */
.feature-card.is-visible .icon-path {
    stroke-dashoffset: 20;

}

.feature-card__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background: red; */
    z-index: 3;
}

.fcard__desc-title{
    font-size: 18px;
    font-weight: 500;
}

.fcard__desc-brief{
    color: var(--text-sec);
    line-height: 1.3;
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}