.hero-section{
    padding-inline: var(--pi-clamp36);
    display: flex;
    flex-direction: column;
    gap: 82px;
    padding-block-end: 148px;
    /* background: var(--off-white); */
}

.hero-heading__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red;  */
    padding-block-start: 120px;
    gap: 32px;
}

.hero-heading__cntnr{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-inline-size: 880px;
    gap: 14px;
}

.hero-heading{
    line-height: 1;
    letter-spacing: -1.1px;
    font-size: var(--hero-tClamp);
    color: var(--text-pri);
}

.hero-subheading{
    font-size: var(--clamp18);
    color: var(--text-sec);
    font-weight: 500;
}

.hero-cta__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 48px;
    inline-size: 148px;
    background: var(--accent-color);
    color: var(--off-white);
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.hero-image__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image__cntnr{
    max-inline-size: 1122px;
}

.hero-image{
    display: block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1122 / 568;
}

.hero-socialproof__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-socialproof__statement{
    font-size: var(--clamp20);
    font-weight: 600;
    color: var(--text-pri);
    text-align: center;
}