.hero-section{
    padding-inline: var(--pi-clamp36);
}

.hero-heading__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red;  */
    padding-block-start: 120px;
    gap: 32px;
}

.hero-heading__cntnr{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-inline-size: 880px;
    gap: 14px;
}

.hero-heading{
    line-height: 1;
    letter-spacing: -1.1px;
    font-size: var(--hero-tClamp);
    color: var(--text-pri);
}

.hero-subheading{
    font-size: var(--clamp18);
    color: var(--text-sec);
    font-weight: 500;
}

.hero-cta__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 48px;
    inline-size: 148px;
    background: var(--text-pri);
    color: var(--off-white);
    font-weight: 500;
    border: none;
    border-radius: 8px;
}