.hero-section{
    padding-inline: var(--pi-clamp36);
    display: flex;
    flex-direction: column;
    gap: 82px;
    padding-block-end: 148px;
}

.hero-heading__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red;  */
    padding-block-start: 120px;
    gap: 32px;
}

.hero-heading__cntnr{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-inline-size: 880px;
    gap: 14px;
}

.hero-heading{
    line-height: 1;
    letter-spacing: -1.1px;
    font-size: var(--hero-tClamp);
    color: var(--text-pri);
}

.hero-subheading{
    font-size: var(--clamp18);
    color: var(--text-sec);
    font-weight: 500;
}

.hero-cta__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 48px;
    inline-size: 148px;
    background: var(--accent-color);
    color: var(--off-white);
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.hero-image__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image__cntnr{
    max-inline-size: 1122px;
}

.hero-image{
    display: block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1122 / 568;
}

.hero-socialproof__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-socialproof__statement{
    font-size: var(--clamp20);
    font-weight: 600;
    color: var(--text-pri);
    text-align: center;
}

.logos-carousel{
    position: relative;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-cntnr{
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
}

.social-proof__logo{
    font-size: var(--clamp28);
    font-weight: 700;
    color: var(--text-sec3);
    transition: color 0.25s ease-in-out;
    cursor: default;
    white-space: nowrap;
}

.social-proof__logo:hover{
    color: var(--text-pri);
}

.logo-carousel__overlay{
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--off-white), rgba(0, 0, 210, 0), var(--off-white));
}