.hero-section{
    display: flex;
    flex-direction: column;
    gap: 82px;
    padding-block-end: 148px;
}

.hero-heading__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: red;  */
    padding-block-start: 120px;
    gap: 32px;
}

.hero-heading__cntnr{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-inline-size: 880px;
    gap: 14px;
    /* background: red; */
}

.hero-heading{
    line-height: 1;
    letter-spacing: -1.1px;
    font-size: var(--hero-tClamp);
    color: var(--text-pri);
    font-size: var(--clamp56);
    max-inline-size: var(--clampheaderbox);
}

.hero-subheading{
    font-size: var(--clamp18);
    color: var(--text-sec);
    font-weight: 500;
    max-inline-size: 480px;
}

.hero-cta__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 48px;
    inline-size: 160px;
    background: var(--accent-color);
    color: var(--off-white);
    font-weight: 500;
    border: none;
    border-radius: 8px;
    transition: transform 0.25s ease-in-out, background 0.25s ease-in-out;
}

.hero-cta__btn:hover{
    transform: translateY(-2px);
    background: blue;
}

.hero-image__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
}

.hero-image__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    max-inline-size: 1120px;
}

.ttt{
    display: block;
    width: 100%;
    height: auto;
}

.hero-socialproof__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-socialproof__statement{
    font-size: var(--clamp20);
    font-weight: 600;
    color: var(--text-pri);
    text-align: center;
}

.logos-carousel{
    /* background: red; */
    inline-size: 100%;
    block-size: var(--height);
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 20%,
        black 80%,
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        black 20%,
        black 80%,
        transparent
        );
    position: relative;
    overflow: hidden;
}

.logo-cntnr{
    inline-size: 100%;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--logo-gap);
    flex-wrap: nowrap;
}

.logo-cntnr.carousel-animate {
    animation: scroll var(--animation-duration, 10s) alternate infinite;
}

.social-proof__logo{
    font-size: var(--clamp28);
    font-weight: 700;
    color: var(--text-sec3);
    white-space: nowrap;
    text-align: center;
    cursor: default;
    flex-shrink: 0;
}

.social-proof__logo:hover{
    color: var(--text-pri);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-45%);
    }
}