.navbar{
    block-size: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--pi-clamp36);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--off-white);
}

.nav-logo-cntnr{
    cursor: pointer;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 32px;
    block-size: 100%;
}

.navlinks li{
    block-size: 100%;
}

.navlinks a{
    color: var(--text-sec);
    font-weight: 500;
    block-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* white-space: nowrap; */
    /* background: red; */
    transition: color 0.25s ease-in-out;
}

.navlinks a:hover{
    color: var(--text-pri);
}

.menu-toggler{
    block-size: 42px;
    inline-size: 42px;
    border: none;
    background: transparent;
}

#menu-btn{
    display: none;
}


@media screen and (max-width: 771px){
    #menu-btn{
        display: block;
    }

    .navlinks{
        display: none;
    }
}