.scalability-section{
    display: flex;
    justify-content: center;
    padding-block: 148px;
}

.section-maxw__cntnr{
    gap: 58px;
}

.scalability-brief__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scalability__brief{
    inline-size: 100%;
    max-inline-size: 520px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.scalability__brief p{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-sec);
    line-height: 1.4;
}

.span-text {
    display: inline-block;
    color: gainsboro;
    transition: color 0.4s ease;
    will-change: color;
}

.span-text.is-active {
    color: var(--text-pri);
}

.scalability-cards__cntnr{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--fcard-size-clamp380), 1fr));
    gap: 16px;
}

.scalability-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: var(--feature-card-pi-clamp16);
    border: 1px solid gainsboro;
    border-radius: 1vw;
    background: var(--off-white);
    background: #ffffff;
}

.scalability-card__illustration{
    display: flex;
    align-items: center;
    justify-content: center;
    /* inline-size: 100%; */
    /* block-size: 280px; */
    overflow: hidden;
    /* background: greenyellow; */
    /* background: red; */
}

.scalability-card__illustration svg{
    block-size: auto;
    inline-size: 100%;
}

.scalability-card__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.scale-card__desc-title{
    font-size: 18px;
    font-weight: 500;
}

.scale-card__desc-brief{
    color: var(--text-sec);
    line-height: 1.3;
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scalability-img{
    display: block;
    width: 100%;
    height: auto;
    /* aspect-ratio: 16/9; */
}

.add-departments__illustration,
.new-roles__illustration,
.support-complexity__illustration,
.maintain-perf__illustration{
    aspect-ratio: 497/280;
}