.scalability-section{
    display: flex;
    justify-content: center;
    padding-block: 148px;
}

.section-maxw__cntnr{
    gap: 58px;
}

.top-section__wrapper{
    block-size: 100%;
    padding: 6px;
    border: 1px solid #DEDEDE;
    border-radius: 18px;
}

.top-section{
    display: flex;
    align-items: center;
    inline-size: 100%;
    gap: 6px;
    flex-wrap: wrap;
  }
  
  .scalability-bento{
    flex: 1 1 300px;
    min-width: 300px;
    border: 1px solid #DEDEDE;
    border-radius: 12px;
}

.scalability-bento:last-child{
  background-color: red;
}

.scalability-brief__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0081FA;
    padding: 16px;
    border-radius: 12px;
}

.scalability__brief{
    inline-size: 100%;
    max-inline-size: 520px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.scalability__brief p{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-sec);
    line-height: 1.4;
}

.span-text {
    display: inline-block;
    color: gainsboro;
    color: #40A3FF;
    transition: color 0.4s ease;
    will-change: color;
}

.span-text.is-active {
    color: var(--text-pri);
    color: #F4F4F4;
}

.scalability-cards__cntnr{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--fcard-size-clamp380), 1fr));
    gap: 16px;
}

.scalability-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px;
    border: 1px solid gainsboro;
    border-radius: 16px;
    background: var(--off-white);
    background: white;
    /* background: #eeeeee; */
}

.scalability-card__illustration{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

.scalability-card__illustration svg{
    block-size: auto;
    inline-size: 100%;
}

.scalability-card__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.scale-card__desc-title{
    font-size: 18px;
    font-weight: 500;
}

.scale-card__desc-brief{
    color: var(--text-sec);
    line-height: 1.3;
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scalability-img{
    display: block;
    width: 100%;
    height: auto;
}

.add-departments__illustration,
.new-roles__illustration,
.support-complexity__illustration,
.maintain-perf__illustration{
    aspect-ratio: 497/280;
}