.scalability-section{
    display: flex;
    justify-content: center;
    padding-block: 148px;
    padding-block-end: 272px;
}

.section-maxw__cntnr{
    gap: 58px;
}

.top-section__wrapper{
    block-size: 100%;
    padding: 6px;
    border: 1px solid #DEDEDE;
    border-radius: 18px;
}

.top-section{
    display: flex;
    align-items: start;
    inline-size: 100%;
    gap: 6px;
    flex-wrap: wrap;
  }
  
  .scalability-bento{
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1 1 280px;
    min-width: 280px;
    border: 1px solid #DEDEDE;
    border-radius: 12px;
    overflow: hidden;
    padding: 6px;
}

/* .scalability-bento:last-child{
  background-color: red;
} */

.scalability-growth__cntnr{
    background: white;
    padding: 16px;
    border-radius: 6px;
}

.scalability-growth{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-sec3);
}

.scalability-growth span{
    color: var(--text-pri);
}

.bento-illustration svg{
    inline-size: 100%;
    block-size: auto;
}

.bento-uptime__card{
    padding: 16px;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.bento-card__head{
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.bento__metric-description{
    color: var(--text-sec3);
    font-weight: 600;
}

@media screen and (max-width: 931px){
    .scalability-bento.metrics-section{
        flex-direction: row;
    }
}

@media screen and (max-width: 720px){
    .scalability-bento.metrics-section{
        flex-direction: column;
    }
}


.bento__metric-value{
    font-size: 82px;
}

.scalability-brief__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0081FA;
    padding: 16px;
    border-radius: 12px;
}

.scalability__brief{
    inline-size: 100%;
    max-inline-size: 520px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.scalability__brief p{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-sec);
    line-height: 1.4;
}

.span-text {
    display: inline-block;
    color: gainsboro;
    color: #40A3FF;
    transition: color 0.4s ease;
    will-change: color;
}

.span-text.is-active {
    color: var(--text-pri);
    color: #F4F4F4;
}

.scalability-cards__cntnr{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--fcard-size-clamp380), 1fr));
    gap: 16px;
}

.scalability-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px;
    border: 1px solid gainsboro;
    border-radius: 16px;
    background: var(--off-white);
    background: white;
    /* background: #eeeeee; */
}

.scalability-card__illustration{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

.scalability-card__illustration svg{
    block-size: auto;
    inline-size: 100%;
}

.scalability-card__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.scale-card__desc-title{
    font-size: 18px;
    font-weight: 500;
}

.scale-card__desc-brief{
    color: var(--text-sec);
    line-height: 1.3;
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scalability-img{
    display: block;
    width: 100%;
    height: auto;
}

.add-departments__illustration,
.new-roles__illustration,
.support-complexity__illustration,
.maintain-perf__illustration{
    aspect-ratio: 497/280;
}