.security-section{
    display: flex;
    justify-content: center;
    padding-block: 148px;
    background: var(--accent-color);
}

.section-maxw__cntnr{
    gap: 72px;
}

.security-section .section-header{
    color: var(--off-white);
}

.security-section .section-sub-header{
    color: rgb(189, 189, 211);
}

.security-cards__cntnr{
    display: flex;
    flex-direction: column;
    gap: 72px;
}


.bottom-cards{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.security-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    color: var(--off-white);
    position: relative;
    cursor: default;
}

.security-briefing{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.security-card__illustration{
    display: block;
    /* background: red; */
    block-size: 440px;
    inline-size: 100%;
    overflow: hidden;
}

.briefing__cntnr{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    inline-size: 100%;
}

.briefing-wrapper{
    /* background: yellow; */
    inline-size: 100%;
    max-inline-size: 520px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.briefing-wrapper p {
    overflow: hidden;
}

.briefing-word {
    display: inline-block;
    color: oklch(67.919% 0.17526 251.15);
    transition: color 0.4s ease;
    will-change: color;
}

.briefing-word.is-active {
    color: var(--off-white);
}

.security-briefing p{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-sec);
}

.security-card__description{
    inline-size: 100%;
    padding-inline: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.security-card__description.encrypted{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.security-card__desc-title{
    font-size: 72px;
    font-size: clamp(2.75rem, 2.25rem + 2.5vw, 4.5rem);
    font-size: clamp(2.375rem, 1.7679rem + 3.0357vw, 4.5rem);
    font-weight: 600;
    color: var(--off-white);
}

.security-card__desc-title span{
    color: var(--accent-color);
}

.security-card__desc-brief{
    font-size: var(--clamp18);
    line-height: 1.4;
    color: var(--off-white);
}

.section-cta__cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.security-sec__cta{
    background: var(--off-white);
    color: var(--accent-color);
    padding: 16px 32px;
    border-radius: 8px;
    font-size: var(--clamp20);
    font-weight: 600;
}

.security-sec__cta:hover{
    background: oklch(96.715% 0.00011 271.152 / 0.8);
}