.side-navbar{
    position: absolute;
    block-size: 100vh;
    inline-size: 320px;
    background: red;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out;
}

.side-nav__backdrop{
    display: none;
    position: absolute;
    block-size: 100%;
    inline-size: 100vw;
    background: rgba(37, 37, 37, 0.5);
    z-index: 9;
    pointer-events: none;
}