.targets-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 148px;
}

.built-for-cards__cntnr{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.built-for__card{
    display: flex;
    align-items: center;
    padding-block: 56px;
    padding-inline: var(--bfor-card-pi-clamp56);
    border: 1px solid gainsboro;
    border-radius: 1vw;
    inline-size: var(--bfor-card-size-540);
    inline-size: 100%;
    transition: 
        background 0.15s ease-in-out,
        color 0.15s ease-in-out;
}

.built-for__card.is-active{
    color: #ffffff;
    background: #2b66e6;
}

.built-for__card.is-active .built-for__subheading{
    color: #bacbf0;
}

.built-for__description{
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.built-for__caption{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
}

.built-for__heading{
    font-size: 36px;
}

.built-for__subheading{
    color: var(--text-sec);
}

.built-for__bullets{
    display: flex;
    flex-direction: column;
    gap: 12px;
}