:root{
    /* spacing styles */
    --pi-clamp36: clamp(0.75rem, 0.3214rem + 2.1429vw, 2.25rem);

    /* color styles */
    --text-pri: oklch(23.503% 0.00003 271.152);
    --text-sec: oklch(55.897% 0.00006 271.152);
    --text-sec2: oklch(86.995% 0.0001 271.152);
    --off-white: oklch(96.715% 0.00011 271.152);
}