:root{
    /* spacing styles */
    --pi-clamp36: clamp(0.75rem, 0.3214rem + 2.1429vw, 2.25rem);
    --logos-gap-clamp32: clamp(1rem, 0.7857rem + 1.0714vw, 2rem);
    --feature-card-pi-clamp16: clamp(0.5rem, 0.3571rem + 0.7143vw, 1rem);
    --fcard-size-clamp380: clamp(18.25rem, 16.6786rem + 7.8571vw, 23.75rem);
    --fcard-size-clamp280: clamp(17.5rem, 15.7143rem + 8.9286vw, 23.75rem);
    --scard-size-480: clamp(18.25rem, 14.8929rem + 16.7857vw, 30rem);
    --scard-size-220: clamp(13.75rem, 12.6786rem + 5.3571vw, 17.5rem);
    --bfor-card-size-540: clamp(18.25rem, 13.8214rem + 22.1429vw, 33.75rem);
    --bfor-card-pi-clamp48: clamp(1rem, 0.4286rem + 2.8571vw, 3rem);
    --bfor-card-pi-clamp56: clamp(1.25rem, 0.5357rem + 3.5714vw, 3.5rem);

    /* text size styles */
    --hero-tClamp: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
    --clamp-96: clamp(3.5rem, 2.7857rem + 3.5714vw, 6rem);
    --clamp56: clamp(1.875rem, 1.4107rem + 2.3214vw, 3.5rem);
    --clamp40: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
    --clamp28: clamp(1.25rem, 1.1071rem + 0.7143vw, 1.75rem);
    --clamp26-22: clamp(1.375rem, 1.2679rem + 0.5357vw, 1.75rem);
    --clamp20: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    --clamp18: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --clampheaderbox: clamp(17.5rem, 12.8571rem + 23.2143vw, 33.75rem);

    /* social-logo styles*/
    --logo-gap: 44px;


    /* color styles */
    --off-white: oklch(96.715% 0.00011 271.152);
    --accent-color: oklch(61.368% 0.20361 255.22);
    --text-pri: oklch(23.503% 0.00003 271.152);
    --text-sec: oklch(55.897% 0.00006 271.152);
    --text-sec2: oklch(86.995% 0.0001 271.152);
    --text-sec3: oklch(75.402% 0.00009 271.152);
}