@import './modules/variables.css';
@import './modules/navbar.css';
@import './modules/sideNav.css';

*{
    padding: 0;
    margin: 0; 
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font: 1rem;
    block-size: 100%;
}

body{
    min-block-size: 100vh;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.main-stack{
    position: relative;
}