@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import './modules/variables.css';
@import './modules/navbar.css';
@import './modules/sideNav.css';

*{
    padding: 0;
    margin: 0; 
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-family: 'Instrument Sans', sans-serif;
    font: 1rem;
    block-size: 100%;
}

body{
    min-block-size: 100vh;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.main-stack{
    position: relative;
}